body
{
	margin: 0;

	background-color: #E6ECF0;

	font-family: 'Berlin Sans FB';
}

.row
{
  margin-right: 0; /* Repair Bootstrap */
}

.night
{
  background-color: #232323;
}

h1
{
	margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}