{% extends "blog/base.html" %}
{% block content %}

  <h1>TinyMCE Quick Start Guide</h1>
  <form method="post">
    <textarea id="mytextarea">Hello, World!</textarea>
  </form>

    {% for post in posts %}
        <article class="media content-section">
          <div class="post">

              <div class="post-header-left">
                
                <a href="#"><img class="rounded-circle postAuthorImage" src="{{ post.author.profile.image.url }}"></a>

              </div>
              <div class="post-header-right">
                
                <span class="postAuthor"> <a href="#">{{ post.author }} </a> </span>
                <span class="postDate">| {{ post.date_posted|date:"j E Y" }}</span>
                <hr class="postHr">
                
              </div>

                <h1 class="postTitle">{{ post.title }}</h1>

                <h2 class="postContent">{{ post.content }}</h2>

            </div>
        </article>
    {% endfor %}
{% endblock content %}
